<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman Game</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="HangmanApp" ng-controller="GameController">
    <div>
        <p>Guesses left : {{guesses}}</p>
        <p>Your incorrect Guesses ::
            <span ng-repeat="letter in incorrectLetterChosen">
                {{letter}}
            </span>
        </p>
        <p>Your correct Guesses ::
            <span ng-repeat="letter in correctLetterChosen">
                {{letter}}
            </span>
        </p>
        <p>Guess the word: {{displayWord}}</p>
        <div>
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>
</body>
</html>